---
import Layout from "../layouts/Layout.astro";
import { Code } from "astro/components";
import CodeSnippet from "../components/CodeSnippet/CodeSnippet.astro";
import fs from "node:fs/promises";
import { ImageCarousel } from "../components/ImageList";
import { GITEA } from "../consts";
import { Download } from "../components/Download";

const screenshots: string[] = await Astro.glob("../../public/pics/*.(png|gif)")
  .then((r) => r.map((x) => x["default"]?.src?.replace?.("public/", "")))
  .then((x) => x.filter((x) => x));

let repos: { name: string; code: string; link: string }[] = await Promise.all(
  [
    "stardew-animation-cancel",
    "keybinds-starter",
    "get-ip",
    "screenshot-every-x",
    "open-app",
  ].map((x) =>
    fetch(
      `https://a2m8-git.tricked.dev/tricked/${x}/raw/branch/main/module.lua`
    ).then(async (res) => ({
      code: await res.text(),
      name: `${x}.lua`,
      link: `${GITEA}/tricked/${x}`,
    }))
  )
);
---

<Layout title="Welcome to A2M8.">
  <main>
    <div class="hero min-h-screen bg-base-200">
      <div class="hero-content flex-col lg:flex-row-reverse">
        <!-- <img src="https://placeimg.com/260/400/arch" class="max-w-sm rounded-lg shadow-2xl" /> -->
        <div class={`w-auto my-4 `}>
          <CodeSnippet>
            <Code code={repos[0].code} lang="lua" />
          </CodeSnippet>
        </div>
        <div>
          <h1 class="text-5xl font-bold">A2M8!</h1>
          <p class="py-6">
            <strong>A2M8</strong> allows you to write lua scripts that automate things
            for any platform
          </p>
          <Download client:load />
        </div>
      </div>
    </div>
    <div class="bg-base-300 py-2">
      <h2 class="text-2xl text-center">Create scripts!</h2>
      <div class="max-w-[60rem] mx-auto">
        <div class="flex gap-2" id="selecter-portal"></div>
        <div>
          {
            repos.map((x, index) => {
              return (
                <div class="selecter" id={x.name}>
                  <div>
                    <button
                      id={index == 0 ? "selected" : undefined}
                      class={`text-center rounded-sm ${
                        index == 0 ? "bg-secondary/60" : ""
                      }`}
                    >
                      {x.name}
                    </button>
                  </div>

                  <div
                    style={{ display: index == 0 ? "block" : "none" }}
                    class={`w-auto my-4 content`}
                  >
                    <CodeSnippet href={x.link}>
                      <Code code={x.code} lang="lua" />
                    </CodeSnippet>
                  </div>
                </div>
              );
            })
          }
        </div>

        <script type="module">
          const portal = document.getElementById("selecter-portal");
          const selecters = document.querySelectorAll(".selecter");
          selecters.forEach((s) => {
            let btn = s.querySelector("button");
            btn.addEventListener("click", () => {
              selecters.forEach(
                (s) => (s.querySelector(".content").style.display = "none")
              );
              s.querySelector(".content").style.display = "block";

              document.querySelectorAll("#selected").forEach((x) => {
                x.classList.remove("bg-secondary/60");
                x.id = "";
              });

              btn.classList.add("bg-secondary/60");
              btn.id = "selected";
            });
            portal.appendChild(btn);
          });
        </script>
      </div>
    </div>
    <div>
      <h2 class="text-2xl text-center">Screenshots!</h2>
      <div>
        <ImageCarousel client:visible images={screenshots} />
      </div>
    </div>
  </main>
</Layout>
